<div>
    <form>
        <div class="formGroup">
            <label for="title">Title</label>
            <input type="text"
            value="{title}"
            onChange="">
        </div>
        <div class="btn btn-primary">Submit</div>
    </form>
</div>